---
import "../styles/dist/ravenbright.min.css";


/* Load components */
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

/* Load site metadata */
import siteMetadata from "../data/siteMetadata.js";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{title}</title>
    <meta name="description" content={siteMetadata.description} />
    <meta name="keywords" content={siteMetadata.keywords} />
    <meta name="author" content={siteMetadata.author} />
    <meta name="language" content={siteMetadata.language} />

    <!-- Open Graph Tags -->
    <meta property="og:site_name" content={siteMetadata.author} />
    <meta property="og:url" content={siteMetadata.siteUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={siteMetadata.description} />
    <meta property="og:image" content="https://example.com/image.jpg" />
    <meta
      property="og:image:alt"
      content="A description of what is in the image (not a caption)"
    />

    <!-- Twiter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={siteMetadata.description} />
    <meta name="twitter:url" content={siteMetadata.name} />
    <meta name="twitter:creator" content={siteMetadata.author} />
    <meta name="twitter:image" content="https://example.com/image.jpg" />
    <meta
      name="twitter:image:alt"
      content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters."
    />



    <!-- Font -->
    <link rel="preconnect" href="https://api.fontshare.com/v2/" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
      media="print"
      onload="this.media='all'"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
    <link rel="icon" sizes="192x192" href="/favicon/favicon-180x180.png" />

    <!-- Links -->
    <link rel="canonical" href="https://example.com/article" />
    <link rel="manifest" href="manifest.json" />

    <!-- Script -->
    <script src="/toggledarktheme.js" defer></script>
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
